.header
{
    background-color:Black;
    height: 5em;
    border: dashed 2px black;
    border-radius: 60px 60px 0 0;
    font-style:italic;
    color:white;
}
.category
{
    background-color: #FFD700;
    border: 5px solid ghostwhite;
    border-radius: 10px 10px 10px 10px;
    float: left;
    height: 268px;
    left: 8px;
    position: absolute;
    top: 56px;
    width: 24%;
}
.content
{
    background-color:#EEEEEE;
    height:800px;
    width:75%;
    float:right;
}
.menu li:hover
{
    background-color: orange;
}
a:active
{
    color:white;
}
label
{
    display:block;
    float:left;
    top:300px;
}
#footer
{
    background-color: black;
    top:850px;
    text-align: center;
    border: dashed 2px black;
    border-radius: 0 0 60px 60px;
    float: left;
    width: 100%;
    font-style:italic;
    color:white;
    position: absolute;
}
#buttonType
{
    position: absolute;
    left:767px;
    top:344px;
}
.error
{
    border:1px solid red;
}
.message
{
    color: red; font-weight:italite;
}
h3
{
    font-family:"Times New Roman", Times, serif;
    font-style:italic;
    color:white;
    text-align:center;
}
#search {
    margin-left: 7px;
    margin-top: 50px;
    width: 310px;
}
#search_label {
    margin-top: 54px;
    margin-left: 400px;
}
#inner_category {
    border: 1px solid black;
    height: 25px;
    left: 0;
    padding-left: 68px;
    padding-top: 5px;
    position: absolute;
    top: 0;
    width: 240px;
    background-image: linear-gradient(bottom, #7571FA 0%, #FFFFFF 50%, #7571FA 100%);
    background-image: -moz-linear-gradient(bottom, #7571FA 0%, #FFFFFF 50%, #7571FA 100%);
}
.categories
{
    position: absolute;
    top: 30px;
    left: 10px;
}
#login
{
    margin-left: 951px;
    margin-top: -288px;
    position: absolute;
    font-style:italic;

}
#about
{
    margin-left: 1018px;
    margin-top: -288px;
    position: absolute;
    font-style:italic;

}
#login_section {
    background-color: azure;
    border: 1px solid;
    height: 127px;
    left: 957px;
    position: absolute;
    top: 31px;
    width: 330px;
    display: none;
}
#user_name {
    left: 95px;
    position: absolute;

}
#password {
    left: 95px;
    position: absolute;

}

#log_in {
    left: 268px;
    position: absolute;
    top: 70px;

}

.categories li{
    background-color: none;
    width: 260px;
}

.clicked {
    background-color: blue;
}
.top
{
    margin-top: 53px;
}
#about a {
    color: white;
}
#login a {
    color: white;
}
#display_table
{
    position: absolute;
    left: 353px;
}
#loading { 
    width: 100%; 
    position: absolute;
    left: 500px;
    top: 200px;
}
#pagination
{
    text-align:center;
    margin-left:120px;
    display: block;
    height: 100px;
    left: 16px;
    margin-left: 120px;
    position: absolute;
    text-align: center;
    top: 745px;
    width: 500px;
}
li{	
list-style: none; 
float: left; 
margin-right: 16px; 
padding:5px; 
border:solid 1px #dddddd;
color:#0063DC; 
margin-left: -25px;
}
li:hover
{ 
color:#FF0084; 
cursor: pointer; 
}

#info {
    border: 2px solid black;
    height: 45px;
    margin-left: 5px;
    margin-top: 14px;
    position: absolute;
    width: 256px;
}
.wishlist
{
    border: 2px solid black;
    height: 25px;
    margin-left: 725px;
    position: absolute;
    width: 548px;
    background-color:Black;
font-style:italic;
    color:white;
}
.wishlist a {
    color: white;
}
#wish
{
    margin-left: 116px;
}
#cancel
{
margin-left:264px;
margin-top: 39px;
}
#Home a
{
position: absolute;
    right: 128px;
    top: 12px;
   font-style:italic;
    color:white; 
}